body {
    background-color: rgb(226, 229, 229);
}

.btn_container {
    background-color: rgb(65, 77, 83);
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    color: #ccc;
}

.btn_ref {
    font-size: 20px;
    cursor: pointer;
    margin-left: 20px;
}

.btn_ref:hover {
    color:rgb(190, 141, 106);
}

.btn_ref:hover:after {
    display: block;
    opacity: 1;
}

.container {
    width: 700px;
    margin: 0 auto;
    font-size: 20px;
}

.uname {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    color: rgb(168, 166, 166);
}

.cpost {
    text-align: center;
    padding: 16px;
    border: 1px solid #ccc;
    color: rgb(134, 132, 132);
    background-color: white;
}

.lpost {
    text-align: center;
    padding: 16px;
    border: 1px solid #ccc;
    color: rgb(134, 132, 132);
    background-color: white;
}

.list {
    text-align: left;
    color: rgb(12, 12, 15);
}

.ref {
    cursor: pointer;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.ref:hover {
    color:rgb(190, 141, 106);
}

.ref:hover:after {
    display: block;
    opacity: 1;
} 

.btn_container {
    padding: 16px;
    border: 1px solid #ccc;
}

.btn {
    font-family: 'Lobster', cursive;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    color:rgb(27, 22, 18);
    border: 1px solid #fff;
    height: 34px;
    width: 170px;
    font-size: 16px;
    border-radius: 20px;
    padding-left: 10px;
    transition: 0.5s;
}

.btn:hover {
    color:rgb(190, 141, 106);
}

.btn:hover:after {
    display: block;
    opacity: 1;
} 


   
@media (max-width: 700px) {
    .btn_container {
        background-color: rgb(65, 77, 83);
        border: 1px solid #ccc;
        padding: 20px;
        text-align: center;
        margin: 0 auto;
        color: #ccc;
        font-size: 10px;
    }
    
    .btn_ref {
        font-size: 10px;
        cursor: pointer;
        margin-left: 20px;
    }
    
    .container {
        text-align: center;
        width: 400px;
        margin: 0 auto;
        font-size: 10px;
    }
    
    .uname {
        margin-top: 20px;
        font-size: 10px;
        color: rgb(168, 166, 166);
    }
    
    .cpost {
        padding: 16px;
        border: 1px solid #ccc;
        color: rgb(134, 132, 132);
        background-color: white;
        font-size: 10px;
    }
    
    .lpost {
        padding: 16px;
        border: 1px solid #ccc;
        color: rgb(134, 132, 132);
        background-color: white;
        font-size: 10px;
    }
    
    .list {
        color: rgb(12, 12, 15);
        font-size: 10px;
    }
    
    .ref {
        cursor: pointer;
        font-size: 10px;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .btn_container {
        padding: 16px;
        border: 1px solid #ccc;
        font-size: 10px;
    }
    
    .btn {
        font-family: 'Lobster', cursive;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.3);
        color:rgb(27, 22, 18);
        border: 1px solid #fff;
        height: 34px;
        width: 170px;
        font-size: 10px;
        border-radius: 20px;
        padding-left: 10px;
        transition: 0.5s;
    }
}
